* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.hero-section, .about-section, .projects-section, .contact-section {
  scroll-margin-top: 80px;
}

body {
    line-height: 1.4;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000;
    color: #fff;
    font-size: 18px;
}

/*** sections containers ***/
.about-container, .projects-container, .contact-container {
    width: 85%;
    margin: 0 auto 20px auto;
    line-height: 1.6;
}

.logo {
    font-family: 'Pacifico', cursive;
}

.section-header, .contact-container {
    text-align: center;
}

.section-header {
    font-size: 36px;
    font-weight: 700;
    color: #fff;
    position: relative;
    margin-bottom: 20px;
}

.section-header::after {
    content: "";
    width: 100px;
    height: 4px;
    background-color: cadetblue;
    display: block;
    margin: 2px auto 0;
    border-radius: 5px;
}

/*** Header ***/
header,  section, footer {
    padding: 1rem;
}

header {
    display: flex;
    justify-content: space-between;
    top: 0;
    z-index: 100;
    position: sticky;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
    background-color: #000;
    color: #fff;
    border-bottom: 1px solid #fff;
    padding-inline: 30px;
}

nav {
    word-spacing: 8px;
}

nav a {
    text-decoration: none;
    color: #fff;
    padding: 5px 0;
}

nav a:hover {
    border-bottom: 2px solid cadetblue;
    color: cadetblue; 
    transition: 0.2s;
}

/* Hero Section Container */
.hero-section {
    height: 80vh; /* taller hero */
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
                url('D:/Portfolio Website/images/keyboard2.jpg') no-repeat center center/cover;
    color: #fff;
    text-align: center;
    padding: 0 20px;
    position: relative;
}

/* Hero Content */
.hero-content h1 {
    font-size: 3.4rem;
    margin-bottom: 0.5rem;
}

.hero-content h1 strong {
    color: cadetblue;
}

.hero-content .profession {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: #b6b6b6;
}

.hero-content .hero-text {
    font-size: 1.4rem;
    max-width: 600px;
    margin: 0 auto 2rem;
    color: #ccc;
}

/* Button Styling */
.hero-content .btn {
    display: inline-block;
    background-color: cadetblue;
    border: 1px solid #fff;
    color: #fff;
    padding: 10px 25px;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.3s;
}

.hero-content .btn:hover {
    background-color: transparent;
    border: 1px solid cadetblue;
    color: cadetblue;
}

/* Responsive Design */
@media(max-width: 768px) {
    .hero-content h1 {
        font-size: 2rem;
    }

    .hero-content .profession {
        font-size: 1rem;
    }

    .hero-content .hero-text {
        font-size: 0.9rem;
        max-width: 90%;
    }

    .hero-section {
        height: 70vh;
        padding: 0 15px;
    }
}

/*** About Section ***/
.about-text {
    font-size: 17px;
    text-align: center;
    padding: 20px;
}

.skills {
    margin: 20px;
}

/*** Soft Skills ***/
.soft-skills, .soft-skills h4 {
    margin-bottom: 20px;
}

.soft-skills-items {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.soft-skills-item {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    background-color: #2f5b5f;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 13px;
}

/*** Tech Skills ***/
.tech-skills-items {
    display: grid;
    grid-template-columns: repeat(7,  1fr);
    gap: 15px;
    justify-items: center;
    margin-top: 10px;
}

.tech-skills-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    transition: transform 0.3s;
}

.tech-skills-item:hover {
    transform: scale(1.1);
}

.tech-skills-item img {
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
}

.tech-skills-item span {
    font-size: 12px;
    color: #fff;
}

/*** Education And Profession ***/
.edu-prof-title {
    margin-bottom: 20px;
}

.education-profession-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.edu-prof-item {
    border: 1px solid #2f5b5f;
    padding: 10px 30px;
    border-radius: 10px;
}

.edu-prof-icon {
    color: #5f9ea0;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 15px;
}

.edu-prof-icon i {
    margin-right: 15px;
}

.qualification {
    color: #fff;
}

.organization {
    color: rgb(0, 183, 255);
    margin-bottom: 10px;
}

.edu-content{
    font-size: 12px;
}


/*** Responsive ***/
@media(max-width: 768px) {
    .about-container, .tab-panel {
        width: 95%;
    }

    .soft-skills-items {
        justify-content: center;
    }

    .tech-skills-items {
        grid-template-columns: repeat(5,  1fr);
        gap: 5px;
    }

    .education-profession-container {
        grid-template-columns: 1fr;
    }
}


/*** Projects Section ***/
.projects-container-item {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 320px));
	justify-content: center;
    gap: 25px;
    width: 100%;
    margin-top: 20px;
}

.projects-container-item img {
    width: 100%;
	height: 50%;
    border: 1px solid #fff;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.projects-container-item img:hover {
    transform: scale(1.05);
}

.projects-card {
    border-radius: 10px;
    background-color: #0F172A;
    border: 1px solid #1E293B;
    padding: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.projects-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

.projects-card .title {
    font-size: 22px;
    color: cadetblue;
    font-weight: bold;
    margin-top: 10px;
}

.projects-card .description {
    font-size: 14px;
    padding: 10px 0;
    color: #cbd5e1;
}

.proj-tech {
    padding: 10px 0;
}

.proj-tech strong {
    color: cadetblue;
}

.proj-tech ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    font-size: 11px;
    gap: 5px;
    list-style: none;
    padding: 0;
    margin-top: 5px;
}

.proj-tech ul li {
    background: cadetblue;
    text-align: center;
    border-radius: 5px;
    padding: 3px 5px;
    color: #fff;
}

.proj-links a {
    text-decoration: none;
    color: #fff;
    margin-inline: 2px;
}

/*** Contact Section ***/
.contact-container p {
    max-width: 500px;
    margin: 10px auto 30px;
    font-size: 15px;
    line-height: 1.6;
}

.contact-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.contact-icons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.contact-icons i {
    font-size: 28px;
    color: #fff;
    background-color: #fff;
    padding: 8px;
    border-radius: 50%;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.contact-icons i:hover {
    transform: scale(1.2);
    background-color: cadetblue;
}

.contact-icons a {
    text-decoration: none;
    font-size: 16px;
    color: #ececec;
    transition: color 0.3s ease;
}

.contact-icons i:hover {
    color: cadetblue;
    color: #fff;
    cursor: pointer;
}


/*** Footer ***/
footer {
    background-color: #000;
    color: #fff;
    border-top: 1px solid #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px 0;
}

.footer-note {
    font-size: 13px;
    color: #ccc;
    margin-bottom: 15px;
    text-align: center;
}

.footer-icons {
    display: flex;
    gap: 15px;
}

.footer-icons a {
    text-decoration: none;
    display: inline-flex;
    align-items: center;
}

.footer-icons i {
    font-size: 20px;
    padding: 6px;
    background-color: #fff;   
    border-radius: 50%;
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

.footer-icons i:hover {
    transform: scale(1.2);
    background-color: cadetblue;
    color: #fff;
}
